<div class="jumbotron">
  <div class="container text-center">
    <h1><%= t(:your_supermarket_purchase_on_two_hours) %></h1>
    <p>Escolha seus produtos e mercado de preferência, e deixe o resto por nossa conta.</p>
    <p>
      <%= form_tag(supermarkets_zipcode_path, method: "post", class: "form-inline") do %>
    		<div class="form-group">
          <%= text_field_tag(:zipcode, "", id: "zipcode", class: "form-control input-lg", placeholder: t(:enter_your_zipcode)) %>
    		</div>
    		<div class="form-group">
          <%= submit_tag(t(:search), class: "btn btn-primary btn-lg") %>
    		</div>
      <% end -%>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="page-header col-xs-12">
      <h1><%= t(:supermarket).pluralize %></h1>
    </div>
    <% if @supermarkets.each do |supermarket| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <%= image_tag supermarket.logo.url(:thumb), class: "img-circle" %>
        <h3 class="supermarket-name">
          <%= link_to supermarket_products_path(supermarket) do %>
            <%= supermarket.name %>
          <% end -%>
        </h3>
      </div>
    <% end.empty? %>
      <div class="col-xs-12">
        <h3><%= t(:no_supermarkets_founded) %></h3>
      </div>
    <% end -%>
  </div>
</div>