<div class="jumbotron" id="supermarkets-header">
  <div class="container">
    <h1><%= (@zipcode ? @zipcode.number : params[:zipcode]) %></h1>
  </div>
</div>

<div class="container">
	<div class="row">
		<% if @supermarkets.each do |supermarket| %>
	    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
	      <%= image_tag supermarket.logo.url(:thumb), class: "img-circle" %>
	      <h2><%= supermarket.name %></h2>
	      <p>
	      	<%= link_to t(:view_products), supermarket_products_path(supermarket), class: "btn btn-default" %>
	      </p>
	    </div>
    <% end.empty? %>
    	<div class="col-xs-12">
        <h3><%= t(:sorry_no_supermarkets_in_this_area) %></h3>
      </div>
		<% end -%>
  </div>
</div>
